<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GreenChain | All Emission Details</title>
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="/css/login_register.css">

<body>

  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="img/logo.png" alt="">
        <span>GreenChain</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" id="kyc" href="/kyc-verification">KYC Verification</a></li>
          <li><a class="nav-link scrollto" id="co2-update" href="/allowance">Allocate Tokens for Industries</a></li>
          <li><a class="nav-link scrollto" id="reportLink" href="/all-emission">All Industries Report</a></li>
          <li><a class="nav-link scrollto" href="/dashboard">Dashboard</a></li>
          <li><a class="getstarted scrollto" href="/auth/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="hero d-flex align-items-center" style="justify-content: center;">

    <div data-aos="fade-up" data-aos-delay="200" class="container"
      style="top: 0px;max-width: 90%;margin-top: 120px;height: 600px;overflow: scroll;">
      <div class="form">
        <span class="title">Full Report</span>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Industry</th>
              <th scope="col">Carbon Emission</th>
              <th scope="col">Cost (ETH)</th>
            </tr>
          </thead>
          <tbody id="full-tabel-body">

          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/truffle-contract@4.0.31/dist/truffle-contract.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>

  <script src="/js/main.js"></script>
  <script src="/js/app.js"></script>
  <script>
    cookies = document.cookie.split(';')
    for (let i = 0; i < cookies.length; i++) {
      if(cookies[i].split('=')[0].trim() == 'role'){
        if(cookies[i].split('=')[1] == 'govermnent'){
            document.getElementById('co2-update').style.display = 'none'
        }
      } 
    }
    App.FetchAllEmission();
  </script>
</body>

</html>