<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GreenChain | Home</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="img/logo.png" alt="">
        <!-- <span>GreenChain</span> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Solution</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/transparent">Co2 Emission</a></li>
          <li><a class="getstarted scrollto" href="/auth/login">login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Blockchain based CO2 Tracker and Automated Credit System</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">The Carbon Emission of the various industry has been stored in the
            XDC Blockchain with high transparancy and high stability. Automated credit system helps to reduce the
            carbon emission</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/auth/login"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="img/hero.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="p-about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Problem</h3>
              <h2>The total CO2 emissions generated from their operations, specifically factories. This information can
                assist management in developing strategies to control CO2 emissions and obtain carbon credits from the
                government. Carbon credits are mechanisms aims to reduce greenhouse gas emissions.</h2>
              <p>
                The current system faces challenges such as lack of transparency, no standardization, limited government
                involvement, and increased cost.There is a need for a system that can help stakeholders track and manage
                carbon emissions to receive automatic payments from the government.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="img/problem.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section>

    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="img/sol.webp" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>solution</h3>
              <h2>The Carbon Emssion of the various industry has been stored in the XDC Blockchain with high
                transparancy and high stability. Automated credit system helps to reduce the carbon emissiom</h2>
              <p>
                Our Platform is hight efficient for the both industry and the goverment. Automated Credit System helps
                to save the earth from co2 and goverment to view the complect track of the industry Co2 Emission
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <section id="p-about" class="about">

      <h2 class="approaches-title">Innovative Approaches</h2>

      <div class="container ai-content" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>AI Interaction</h3>
              <h2> It can be used to predict future outcomes based on new input data. The accuracy of the predictions
                depends on the quality of the training data, the chosen algorithm, and the features used.</h2>
              <p>
                Accurate predictions rely on high-quality, relevant, and up-to-date historical data. Inaccurate or
                biased data can lead to unreliable predictions.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="img/ai-intelligence.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="img/carbon-credit-tokenization.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Tokenization of Carbon Credits</h3>
              <h2>Transforming Carbon Credit Management with Blockchain</h2>
              <p>Tokenization, enabled by blockchain technology, is revolutionizing the way carbon credits are managed
                and traded. It introduces transparency, traceability, and efficiency to traditional carbon credit
                systems.</p>

            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Our Values</h2> -->
          <p>Our Platform</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="img/values-1.png" class="img-fluid" alt="">
              <h3>Connect XDC Supported Wallet</h3>
              <p>If you are Industry connect industry wallet with our platform. If Goverment Connect respective wallet
                to acsess the platform</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="img/values-2.png" class="img-fluid" alt="">
              <h3>Co2 Emissiion and Credit</h3>
              <p>The Emission of Co2 in the Industry is monitored and Enterd. According to the Emission the ETH is
                priced is debited from the industry wallet automatically</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="img/values-3.png" class="img-fluid" alt="">
              <h3>Analysis and Report</h3>
              <p>Full transperency of the report and the industry spend on the C02 Emission. With the industry Wallet ID
                anyone can see the report</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Features</h2> -->
          <p>Features</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="img/feature.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Security</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Transparency</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Scalability</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Stability</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>XDC (EVM Compatible Blockchains)</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Dapp</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Tokenization</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Deep Learning (Predictive AI)</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Services</h2> -->
          <p>Services</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-lock-line icon"></i>
              <h3>Security</h3>
              <p>The blockchain would protect this data from tampering, and it can be used to determine the amount of
                CO2 level.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Transparency</h3>
              <p>The datas are visible to both people and government. the characteristic of data being used with
                integrity, lawfully, fairly and traceably, for valid purposes.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-git-merge-line icon"></i>
              <h3>Connectivity</h3>
              <p>provide the connection between industries and government. It helps to government to known about the CO2
                level of the industries.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  <footer id="" class="footer">
    <div class="copyright">
      &copy; Design and Developed by <strong><span>TECH CREED</span></strong>
    </div>
    <div class="copyright">
      Developed During <strong><span>PLI 2.0</span></strong>
    </div>

    <div class="credits">
      <a target="_blank" href="https://github.com/tech-creed/Green-Chain-PLI-Hackathon-2.0"><i style="font-size: 20px; padding-right:5px;"
          class="bi bi-github"></i></a>
    </div>
  </footer>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>